VITE_API_BASE_URL=http://localhost:3000
BE_API_BASE_URL=http://localhost:3000
FORCE_REHOST_ALL_IMAGES=false
DRY_RUN=false
BE_REPORT_UPDATE_ENDPOINT_TEMPLATE=/public/scam-reports/:id
BE_REPORT_UPDATE_METHODS=PATCH,PUT
