VITE_SUPABASE_URL=https://bhqtbvmdtdkkqmnjumww.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJocXRidm1kdGRra3Ftbmp1bXd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMTg5MDcsImV4cCI6MjA4ODY5NDkwN30.6mDXrfLVKG_IU29uwoFJr8NkeiNnGe8ipmiF3-kRcYs
