.env.production
VITE_API_BASE_URL=https://api.faodigital.vn/api/
BE_API_BASE_URL=https://api.faodigital.vn/api/
# VITE_API_URL=http://103.90.227.51:8080/api/
VITE_WS_URL=https://api.faodigital.vn/ws
VITE_MODE=production
